<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNetMvc" version="4.0.20710.0" targetFramework="net40" />
  <package id="FileHelpers" version="3.1.5" targetFramework="net40" requireReinstallation="true" />
  <package id="FileHelpers.ExcelNPOIStorage" version="3.1.5" targetFramework="net40" requireReinstallation="true" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.40804.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc.es" version="5.2.4" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor.es" version="3.2.4" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client.es" version="5.2.4" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core.es" version="5.2.4" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost.es" version="5.2.4" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebHooks.Common" version="1.2.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebHooks.Receivers" version="1.2.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebHooks.Receivers.Generic" version="1.2.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.es" version="3.2.4" targetFramework="net48" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="NPOI" version="2.4.1" targetFramework="net45" />
  <package id="SharpZipLib" version="1.1.0" targetFramework="net461" />
</packages>