<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <location allowOverride="true">
    <appSettings>
      <add key="CnnStr" value="integrated security=SSPI;data source=.\SQLEXPRESS;persist security info=False;initial catalog=CedeiraSERVICIOS;"/>
      <!--<add key="CnnStr" value="User ID=cedeira;Password=ibg0220;data source=.\SQLEXPRESS;persist security info=False;initial catalog=CedeiraSERVICIOS;" />-->
    </appSettings>
  </location>
</configuration>
