<?xml version="1.0"?>
<!-- Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite http://go.microsoft.com/fwlink/?LinkId=169433 -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CedServicios.Site.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <!-- El parámetro sessionState se usa para simular la caducación de las variables que guardamos en "Session" (el valor de timeout es "en minutos")
    <sessionState mode="InProc" timeout="1"></sessionState> -->
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </assemblies>
    </compilation>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    <customErrors mode="Off"/>
    <pages maintainScrollPositionOnPostBack="true" enableViewStateMac="false" controlRenderingCompatibilityVersion="4.0"/>
    <sessionState timeout="20" mode="InProc"/>
  </system.web>
  <location allowOverride="true">
    <appSettings>
      <!-- <add key="CnnStr" value="Server=ar64.toservers.com,2433;Database=facturae_cedeiraservicios;UID=facturae_cedeira;PWD=mosca290rijo;Trusted_Connection=False;"/>
      <add key="Ambiente" value="PROD"/> -->
      <!-- DB DESARROLLO (User ID=cedeira;Password=ibg0220;) -->
      <add key="CnnStr" value="User ID=cedeira;Password=ibg0220;data source=.\SQLEXPRESS;persist security info=False;Integrated Security=false;initial catalog=CedeiraSERVICIOS;"/>
      <add key="Ambiente" value="DESA"/>
      <add key="Cultura" value="en-GB"/>
      <add key="CulturaDateTimeFormat" value="es-AR"/>
      <add key="Autenticacion" value="NONE"/>
      <add key="Propietario" value="Cedeira Software Factory"/>
      <add key="NombreAplic" value="Cedeira Servicios"/>
      <add key="CodigoAplic" value="CedServicios"/>
      <add key="Mantenedores" value="claudio.cedeira@gmail.com"/>
      <add key="MensajeGeneral" value="AMBIENTE DE DESARROLLO"/>
      <add key="CrystalImageCleaner-AutoStart" value="true"/>
      <add key="CrystalImageCleaner-Sleep" value="60000"/>
      <add key="CrystalImageCleaner-Age" value="120000"/>
      <add key="MailServidorSmtp" value="mail.cedeira.com.ar"/>
      <add key="MailCredencialesUsr" value="pablo.conde@cedeira.com.ar"/>
      <add key="MailCredencialesPsw" value="qwe123"/>
      <!-- HOMO -->
      <add key="EnvioIBKUtilizarServidorExterno" value="SI"/>
      <add key="EnvioIBKurl" value="http://cedeira.ddns.net:8084/EnvioIBK.asmx"/>
      <add key="ConsultaIBKUtilizarServidorExterno" value="SI"/>
      <add key="ConsultaIBKurl" value="http://cedeira.ddns.net:8084/ConsultaIBK.asmx"/>
      <add key="ValidarIBKUtilizarServidorExterno" value="SI"/>
      <add key="ValidarIBKurl" value="http://cedeira.ddns.net:8084/ValidoIBK.asmx"/>
      <add key="ListadoIBKUtilizarServidorExterno" value="SI"/>
      <add key="ListadoIBKurl" value="http://cedeira.ddns.net:8084/ListadoIBK.asmx"/>
      <add key="DetalleIBKUtilizarServidorExterno" value="SI"/>
      <add key="DetalleIBKurl" value="http://cedeira.ddns.net:8084/DetalleIBK.asmx"/>
      <add key="GenerarPDFUtilizarServidorExterno" value="SI"/>
      <add key="GenerarPDFurl" value="http://cedeira.ddns.net:8084/GeneroPDF.asmx"/>
      <!-- PROD 
      <add key="EnvioIBKUtilizarServidorExterno" value="SI"/>
      <add key="EnvioIBKurl" value="http://cedeira.ddns.net:80/EnvioIBK.asmx"/>
      <add key="ConsultaIBKUtilizarServidorExterno" value="SI"/>
      <add key="ConsultaIBKurl" value="http://cedeira.ddns.net:80/ConsultaIBK.asmx"/>
      <add key="ValidarIBKUtilizarServidorExterno" value="SI"/>
      <add key="ValidarIBKurl" value="http://cedeira.ddns.net:80/ValidoIBK.asmx"/>
      <add key="ListadoIBKUtilizarServidorExterno" value="SI"/>
      <add key="ListadoIBKurl" value="http://cedeira.ddns.net:80/ListadoIBK.asmx"/>
      <add key="DetalleIBKUtilizarServidorExterno" value="SI"/>
      <add key="DetalleIBKurl" value="http://cedeira.ddns.net:80/DetalleIBK.asmx"/>
      <add key="GenerarPDFUtilizarServidorExterno" value="SI"/>
      <add key="GenerarPDFurl" value="http://cedeira.ddns.net:80/GeneroPDF.asmx"/>
      -->
      <add key="RutaCertificadoAFIP" value="/CertificadosAFIP/"/>
      <add key="CuitCanalAFIP" value="30710015062"/>
      <add key="IsOffline" value="false"/>
      <add key="IsOfflineMessage" value="Sistema temporalmente no disponible por tareas de mantenimiento. &lt;br /&gt;&lt;br /&gt;Pruebe a partir de las 21hs."/>
      <!-- HOMO -->
      <add key="ar_gov_afip_wsaa_LoginCMSService" value="https://wsaahomo.afip.gov.ar/ws/services/LoginCms?wsdl"/>
      <add key="ar_gov_afip_wsw_Service" value="https://wswhomo.afip.gov.ar/wsfe/service.asmx"/>
      <add key="ar_gov_afip_wsfev1_Service" value="https://wswhomo.afip.gov.ar/wsfev1/service.asmx"/>
      <add key="ar_gov_afip_wsfexv1_Service" value="https://wswhomo.afip.gov.ar/wsfexv1/service.asmx?WSDL"/>
      <add key="ar_gov_afip_padron-puc-ws_Service" value="https://awshomo.afip.gov.ar/padron-puc-ws/services/select.ContribuyenteNivel3SelectServiceImpl"/>
      <add key="ar_gov_afip_WSCT_Service" value="https://fwshomo.afip.gov.ar/wsct/CTService?wsdl"/>
      <!-- PROD 
      <add key="ar_gov_afip_wsaa_LoginCMSService" value="https://wsaa.afip.gov.ar/ws/services/LoginCms" />
      <add key="ar_gov_afip_wsw_Service" value="https://servicios1.afip.gov.ar/wsfe/service.asmx?wsdl" />
      <add key="ar_gov_afip_wsfev1_Service" value="https://servicios1.afip.gov.ar/wsfev1/service.asmx?wsdl" />
      <add key="ar_gov_afip_wsfexv1_Service" value="https://servicios1.afip.gov.ar/wsfexv1/service.asmx?WSDL" />
      <add key="ar_gov_afip_padron-puc-ws_Service" value="https://ws.afip.gov.ar/padron-puc-ws/services/select.ContribuyenteNivel3SelectServiceImpl" />
      <add key="ar_gov_afip_WSCT_Service" value="https://serviciosjava.afip.gob.ar/wsct/CTService?wsdl"/>
      -->
    </appSettings>
  </location>
  <applicationSettings>
    <CedServicios.Site.Properties.Settings>
      <setting name="CedServiciosSite_org_dyndns_cedweb_valido_ValidoIBK" serializeAs="String">
        <value>http://localhost:20587/ValidoIBK.asmx</value>
      </setting>
      <setting name="CedServiciosSite_org_dyndns_cedweb_envio_EnvioIBK" serializeAs="String">
        <value>http://localhost:20587/EnvioIBK.asmx</value>
      </setting>
      <setting name="CedServiciosSite_org_dyndns_cedweb_consulta_ConsultaIBK" serializeAs="String">
        <value>http://localhost:4167/ConsultaIBK.asmx</value>
      </setting>
      <setting name="CedServiciosSite_org_dyndns_cedweb_listado_ListadoIBK" serializeAs="String">
        <value>http://localhost:20587/ListadoIBK.asmx</value>
      </setting>
      <setting name="CedServiciosSite_org_dyndns_cedweb_detalle_DetalleIBK" serializeAs="String">
        <value>http://localhost:20587/DetalleIBK.asmx</value>
      </setting>
      <setting name="CedServiciosSite_org_dyndns_cedweb_generoPDF_GeneroPDF" serializeAs="String">
        <value>http://localhost:20587/GeneroPDF.asmx</value>
      </setting>
      <setting name="CedServiciosSite_ar_gov_afip_wsw_Service" serializeAs="String">
        <value>https://wswhomo.afip.gov.ar/wsfe/service.asmx</value>
      </setting>
    </CedServicios.Site.Properties.Settings>
  </applicationSettings>
  <system.webServer>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <staticContent>
      <!--<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />-->
    </staticContent>
  </system.webServer>
</configuration>