CedServicios/AjaxControlToolkit/bin/Debug/AjaxControlToolkit.dll
CedServicios/AjaxControlToolkit/bin/Debug/AjaxControlToolkit.pdb
CedServicios/AjaxControlToolkit/obj/Debug/AjaxControlToolkit.csproj.FileListAbsolute.txt
CedServicios/AjaxControlToolkit/obj/Debug/AjaxControlToolkit.csproj.GenerateResource.Cache
CedServicios/AjaxControlToolkit/obj/Debug/AjaxControlToolkit.csprojResolveAssemblyReference.cache
CedServicios/AjaxControlToolkit/obj/Debug/AjaxControlToolkit.dll
CedServicios/AjaxControlToolkit/obj/Debug/AjaxControlToolkit.pdb
CedServicios/AjaxControlToolkit/obj/Debug/AjaxControlToolkit.Properties.Resources.resources
CedServicios/AjaxControlToolkit/obj/Debug/AjaxControlToolkit.ScriptResources.ScriptResources.resources
CedServicios/AjaxControlToolkit/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CedServicios/CaptchaDotNet2/bin/Debug/Captcha.dll
CedServicios/CaptchaDotNet2/bin/Debug/Captcha.pdb
CedServicios/CaptchaDotNet2/obj/Debug/Captcha.dll
CedServicios/CaptchaDotNet2/obj/Debug/Captcha.pdb
CedServicios/CaptchaDotNet2/obj/Debug/CaptchaDotNet2.csproj.FileListAbsolute.txt
CedServicios/CaptchaDotNet2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CedServicios/CedServicios.suo
CedServicios/CedServiciosDB/bin/Debug/CedServiciosDB.dll
CedServicios/CedServiciosDB/bin/Debug/CedServiciosDB.pdb
CedServicios/CedServiciosDB/bin/Debug/CedServiciosEntidades.dll
CedServicios/CedServiciosDB/bin/Debug/CedServiciosEntidades.pdb
CedServicios/CedServiciosDB/bin/Debug/CedServiciosEX.dll
CedServicios/CedServiciosDB/bin/Debug/CedServiciosEX.pdb
CedServicios/CedServiciosDB/bin/Debug/FeaEntidades.dll
CedServicios/CedServiciosDB/bin/Debug/FeaEntidades.pdb
CedServicios/CedServiciosDB/bin/Debug/FileHelpers.dll
CedServicios/CedServiciosDB/bin/Debug/FileHelpers.pdb
CedServicios/CedServiciosDB/obj/Debug/CedServiciosDB.csproj.FileListAbsolute.txt
CedServicios/CedServiciosDB/obj/Debug/CedServiciosDB.csprojResolveAssemblyReference.cache
CedServicios/CedServiciosDB/obj/Debug/CedServiciosDB.dll
CedServicios/CedServiciosDB/obj/Debug/CedServiciosDB.pdb
CedServicios/CedServiciosDB/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
bin
obj
CedServicios/CedServiciosSite/CedServiciosSite.csproj.user
.gitignore
