<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="CedServiciosRN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="Proxy" value=""/>
		<add key="UsuarioProxy" value=""/>
		<add key="DominioProxy" value=""/>
		<add key="ClaveProxy" value=""/>
		<add key="URLinterfacturas" value="https://wsqacfe.interfacturas.com.ar/ws/FacturaWebServiceConSchema?wsdl"/>
		<!-- CurrentUser / LocalMachine -->
		<add key="StoreLocation" value="LocalMachine"/>
	</appSettings>
	<applicationSettings>
		<CedServiciosRN.Properties.Settings>
			<setting name="CedServiciosRN_IBK_FacturaWebServiceConSchemaSoapBindingQSService" serializeAs="String">
				<value>https://wsqacfe.interfacturas.com.ar/ws/FacturaWebServiceConSchema?wsdl</value>
				<!--<value>https://srv1.interfacturas.com.ar/ws/FacturaWebServiceConSchem</value>-->
			</setting>
		</CedServiciosRN.Properties.Settings>
	</applicationSettings>
	<connectionStrings/>
	<system.web>
		<compilation debug="true" defaultLanguage="c#" targetFramework="4.0"/>
		<authentication mode="None"/>
		<customErrors mode="Off"/>
		<pages controlRenderingCompatibilityVersion="3.5" theme="" clientIDMode="AutoID"/>
	</system.web>
</configuration>
