html, body, #wrapper 
{
	background-color:White;
	border: none;
	font-family:Arial;
	font-size:small;
	margin: 0px;
	text-align: center;
}
#wrapper 
{
	text-align:left;
	margin: 0 auto;
	width:100%;
	vertical-align:top;
	table-layout:inherit;
    overflow:scroll;
    padding:0;
}
.DataWebControlStyle
{
    font-size: 80%;
    text-align: right;
}
.HeaderStyle
{
    background-color:#FF6600;
    font-weight: bold;
    color:White;
    text-align: center;
}
.FooterStyle
{
    background-color: #FF6600;
    color: White;
}
.AlternatingRowStyle
{
    background-color:#FFF8DC;  
}
.RowStyle
{
	width:200px;
	text-align:right;
	max-width:200px;
	color: Black;
}
.SelectedRowStyle
{
    background-color: #FF6600;
    color:White;
}
.PagerStyle
{
	background-color:#FF6600;
	color:White;
	text-align:left;
}
.HeaderStyleGrid
{
    background-color:#FF6600;
    font-weight: bold;
    color:White;
    text-align: center;
}
.FooterStyleGrid
{
    background-color: #FF6600;
    color: White;
}
.AlternatingRowStyleGrid
{
    background-color:#E1DED7;  
}
.RowStyleGrid
{
	width:200px;
	text-align:right;
	max-width:200px;
	color: Black;
}
.SelectedRowStyleGrid
{
    background-color: #A52A2A;
    color:White;
}
.PagerStyleGrid
{
	background-color: #A52A2A;
	color: White;
	text-align:left;
}
.DataWebControlStyleGrid
{
    font-size: 80%;
    text-align: right;
}
.TextoMensajeTitulo
{
	color: black; font-weight: normal; font-size: 20px; font-family: Verdana; font-style: normal;
}
.TextoMensajeDetalle
{
	color: black; font-weight: normal; font-size: 12px; font-family: Verdana; font-style: normal;
}
.TextoResaltado
{
	color: black;
	font-weight: bold; font-size: 12px; font-family: Arial; font-style: normal;
}
.TextoComun
{
	position: relative; border: 0px; color: black;
	font-weight: normal; font-size: 12px; font-family: Arial; font-style: normal;
}
.TextoChico
{
	font-size: 10px; font-family: Arial; font-style: normal;
}
.izquierda
{
    text-align: left;
}
.TC50B
{
	position: relative; border: 0px; text-align: right;
	padding-left:5px; padding-right: 5px; 
}
.TC00S
{
	position: relative; border: 0px; text-align: right; 
	width: 180px; padding-top:5px; 
}
.TC00SL
{
	position: relative; border: 0px; text-align: left;
	width: 180px; padding-top:5px; 
}
.TC01S
{
	position: relative; border: 0px; text-align: right;
	width: 80px; padding-top:5px;
}
.TC02S
{
	position: relative; border: 0px; text-align: right;
	width: 60px; padding-top:5px;
}
.TC02SL
{
	position: relative; border: 0px;
	font-weight: normal; font-size: 12px; font-family: Arial; font-style: normal; 
	width: 60px; padding-top:5px; padding-left: 5px; text-align:left;
}
.TC03S
{
	position: relative; border: 0px; text-align: right;
	width: 47px; padding-top:5px;
}
.TC10S
{
	position: relative; border: 0px; text-align: right; 
	font-weight: normal; font-size: 12px; font-family: Arial; font-style: normal; 
	width: 180px; padding-top:5px; padding-left: 5px; text-align:left;
}
.TC12S
{
	position: relative; border: 0px; text-align: right;
	font-weight: normal; font-size: 12px; font-family: Arial; font-style: normal; 
	width: 40px; padding-top:5px;
}
.TextoLabelFEADescrLarga
{
	position: relative; border: 0px; text-align: right;
	width: 590px;	
}

.modalBackground
{
    background-color:Gray;
    filter:alpha(opacity=70);
    opacity:0.7;
}
.ModalWindow
{
  border: 1px;
  background:#f0f0f0;
  padding: 10px;
  position:absolute;
  top:-1000px;
}
.MyCalendar .ajax__calendar_container {
    border:1px solid #646464;
    position:relative;
    z-index: 1;
    visibility: visible; display: block;
    background-color:#DCDCDC;
    color:Black;
}

#progressBackgroundFilter {
    position:fixed; 
    top:0px; 
    bottom:0px; 
    left:0px;
    right:0px;
    overflow:hidden; 
    padding:0; 
    margin:0; 
    background-color:Black; 
    filter:alpha(opacity=0.5); 
    opacity:0.5; 
    z-index:1000; 
}

#processMessage { 
    position:fixed; 
    top:30%; 
    left:43%;
    padding:10px; 
    width:5%; 
    z-index:1001; 
    background-color:#fff;
    border:solid 1px #000;
}
.grilla th /* for the header */
{
    BORDER-BOTTOM: 1px solid black;
    BORDER-LEFT: 1px solid black;
    BORDER-RIGHT: 1px solid black;
    BORDER-TOP: 1px solid black;       
    padding: 4px 4px 4px 4px;
    font-size: 12px; font-style: normal; font-family: Arial;
    text-align: center;
}
.grilla td /* for the header */
{
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px; font-style: normal; font-family: Arial;
}
.gridview th
{
	text-align: center;
}

.center 
{
	text-align: center;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.GridPager a,
.GridPager span {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 2px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.GridPager a {
    background-color: #f5f5f5;
    color: #969696;
    border: 1px solid #969696;
}

.GridPager span {
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
    border: 1px solid #3AC0F2;
}
