<?xml version="1.0"?>
<!-- Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite http://go.microsoft.com/fwlink/?LinkId=169433 -->
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="CedServicios.Site.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<system.web>
		<!-- El parámetro sessionState se usa para simular la caducación de las variables que guardamos en "Session" (el valor de timeout es "en minutos")
		<sessionState mode="InProc" timeout="1"></sessionState> -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<httpHandlers>
			<add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
		</httpHandlers>
		<customErrors mode="Off"/>
		<pages maintainScrollPositionOnPostBack="true"/>
		<sessionState timeout="20" />
	</system.web>
	<location allowOverride="true">
		<appSettings>
			<!-- <add key="CnnStr" value="Server=ar64.toservers.com,2433;Database=cedeiraservicios;UID=cedeira;PWD=mosca290rijo;Trusted_Connection=False;" /> -->
			<add key="CnnStr" value="User ID=cedeira;Password=ibg0220;data source=.\SQLEXPRESS;persist security info=False;initial catalog=cedeiraservicios;" />
			<add key="Ambiente" value="DESA" />
			<add key="Cultura" value="en-GB" />
			<add key="CulturaDateTimeFormat" value="es-AR" />
			<add key="Autenticacion" value="NONE" />
			<add key="Propietario" value="Cedeira Software Factory" />
			<add key="NombreAplic" value="Cedeira Servicios" />
			<add key="CodigoAplic" value="CedServicios" />
			<add key="Mantenedores" value="claudio.cedeira@gmail.com" />
			<add key="MensajeGeneral" value="AMBIENTE DE DESARROLLO" />
			<add key="CrystalImageCleaner-AutoStart" value="true" />
			<add key="CrystalImageCleaner-Sleep" value="60000" />
			<add key="CrystalImageCleaner-Age" value="120000" />
			<add key="MailServidorSmtp" value="mail.cedeira.com.ar" />
			<add key="MailCredencialesUsr" value="pablo.conde@cedeira.com.ar" />
			<add key="MailCredencialesPsw" value="qwe123" />
			<add key="EnvioIBKUtilizarServidorExterno" value="SI" />
			<add key="EnvioIBKurl" value="http://cedeiraweb.no-ip.org:8084/EnvioIBK.asmx" />
			<add key="ConsultaIBKUtilizarServidorExterno" value="SI" />
			<add key="ConsultaIBKurl" value="http://cedeiraweb.no-ip.org:8084/ConsultaIBK.asmx" />
			<add key="ValidarIBKUtilizarServidorExterno" value="SI" />
			<add key="ValidarIBKurl" value="http://cedeiraweb.no-ip.org:8084/ValidoIBK.asmx" />
			<add key="ListadoIBKUtilizarServidorExterno" value="SI" />
			<add key="ListadoIBKurl" value="http://cedeiraweb.no-ip.org:8084/ListadoIBK.asmx" />
			<add key="DetalleIBKUtilizarServidorExterno" value="SI" />
			<add key="DetalleIBKurl" value="http://cedeiraweb.no-ip.org:8084/DetalleIBK.asmx" />
			<add key="IsOffline" value="false" />
			<add key="IsOfflineMessage" value="Sistema temporalmente no disponible por tareas de mantenimiento. &lt;br /&gt;&lt;br /&gt;Pruebe a partir de las 21hs." />
		</appSettings>
	</location>
	<applicationSettings>
		<CedServicios.Site.Properties.Settings>
   <setting name="CedServiciosSite_org_dyndns_cedweb_valido_ValidoIBK"
    serializeAs="String">
    <value>http://localhost:20587/ValidoIBK.asmx</value>
   </setting>
   <setting name="CedServiciosSite_org_dyndns_cedweb_envio_EnvioIBK"
    serializeAs="String">
    <value>http://localhost:20587/EnvioIBK.asmx</value>
   </setting>
   <setting name="CedServiciosSite_org_dyndns_cedweb_consulta_ConsultaIBK"
    serializeAs="String">
    <value>http://localhost:20587/ConsultaIBK.asmx</value>
   </setting>
   <setting name="CedServiciosSite_org_dyndns_cedweb_listado_ListadoIBK"
    serializeAs="String">
    <value>http://localhost:20587/ListadoIBK.asmx</value>
   </setting>
   <setting name="CedServiciosSite_org_dyndns_cedweb_detalle_DetalleIBK"
    serializeAs="String">
    <value>http://localhost:20587/DetalleIBK.asmx</value>
   </setting>
  </CedServicios.Site.Properties.Settings>
	</applicationSettings>
	<system.webServer>
		<handlers>
			<add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
		</handlers>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
</configuration>