<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CedServicios.RN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <CedServicios.RN.Properties.Settings>
            <setting name="CedServiciosRN_IBK_FacturaWebServiceConSchema"
                serializeAs="String">
                <value>https://bcfealsb02-qa:10001/ws/FacturaWebServiceConSchema</value>
            </setting>
            <setting name="CedServiciosRN_IBKValidate_ValidaFacturaWebService"
                serializeAs="String">
                <value>https://ibsibqa01:10001/ws/ValidaFacturaWebService</value>
            </setting>
            <setting name="CedServiciosRN_IBKComprobantesListado_ReporteFacturaWebService"
                serializeAs="String">
                <value>https://ibsibqa01:10001/ws/ReporteFacturaWebService</value>
            </setting>
            <setting name="CedServiciosRN_ar_gov_afip_wsaa_LoginCMSService"
                serializeAs="String">
                <value>https://wsaahomo.afip.gov.ar/ws/services/LoginCms</value>
            </setting>
            <setting name="CedServiciosRN_ar_gov_afip_wsfev1_Service" serializeAs="String">
                <value>https://wswhomo.afip.gov.ar/wsfev1/service.asmx</value>
            </setting>
            <setting name="CedServiciosRN_ar_gov_afip_wsw_Service" serializeAs="String">
                <value>https://wswhomo.afip.gov.ar/wsfe/service.asmx</value>
            </setting>
            <setting name="CedServiciosRN_ar_gov_afip_wsfexv1_Service" serializeAs="String">
                <value>https://wswhomo.afip.gov.ar/wsfexv1/service.asmx</value>
            </setting>
            <setting name="CedServiciosRN_ar_gov_afip_awshomo_ContribuyenteNivel3SelectServiceImplService"
                serializeAs="String">
                <value>https://awshomo.afip.gov.ar/padron-puc-ws/services/select.ContribuyenteNivel3SelectServiceImpl</value>
            </setting>
        </CedServicios.RN.Properties.Settings>
    </applicationSettings>
</configuration>